.cardContainer {
  display: flex;
}

.cardName {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 20px;
  color: var(--black);
}

.description {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 20px;
  color: var(--mediumGray);
}

.selected {
  color: var(--blueColor);
}

.selectedCard {
  background-color: #D5DFE9;
}

.icon {
  cursor: pointer;
}
